# 1. LISTAS

Para definir una, debe escribir los elementos entre corchetes separado por comas.

In [ ]:
colores = ['azul', 'rojo', 'verde', 'amarillo']
print(colores)

factura = ['pan', 'galletas', 100, 1234]
print(factura)

Acceder a un elemento por index.
- 0: primer elemento
- 1: segundo elemento
- 2: tercer elemento

In [ ]:
print(colores[0]) # primer elemento
print(colores[1]) # segundo elemento

Indexación negativa de la lista
- -1: último elemento
- -2: penúltimo elemento

In [ ]:
print(colores[-1]) # último elemento
print(colores[-2]) # penúltimo elemento

#### Cortar un lista:

El operador de sector [n: m] devuelve la parte de la lista desde el elemento "n-ésimo" al elemento "m-ésimo", incluido el primero pero excluyendo el último.

In [ ]:
miLista = ['a', 'b', 'c', 'd', 'e', 'f']

print(miLista[2:5])

print(miLista[0:2])

print(miLista[3:-1])

Modificar un elemento de una lista.

In [ ]:
colores = ['azul', 'rojo', 'verde', 'amarillo']
colores[1] = "blanco"

print(colores)

Agregar un elemento a la lista.

In [ ]:
colores = ['azul', 'rojo', 'verde', 'amarillo']

colores.append('blanco')

print(colores)

Combinar listas.
Como primera opción se usa la función *extend*

In [ ]:
colores = ['azul', 'rojo', 'verde', 'amarillo']
colores.extend([1 , 2, 3])

print(colores)

Combinar listas.
Como segunda opción se usa el operador *+*

In [ ]:
miLista = ['azul', 'rojo', 'verde', 'amarillo']
miLista = miLista + [1 , 2, 3]

print(miLista)

In [ ]:
miLista = ['azul', 'rojo', 'verde', 'amarillo']
miLista += [1 , 2, 3]

print(miLista)

Remover un elemento por index.

In [ ]:
miLista = ['azul', 'rojo', 'verde', 'amarillo']
miLista_2 = miLista.pop(1)

print(miLista) # lista con el elemento eliminado
print(miLista_2) # elemento eliminado

Remover un elemento por index, opción 2.

In [ ]:
miLista = ['azul', 'rojo', 'verde', 'amarillo']

del miLista[1]
print(miLista)

Remover varios elementos.

In [ ]:
miLista = ['azul', 'rojo', 'verde', 'amarillo']

del miLista[1:3]
print(miLista)

Remover un elemento por valor.

In [ ]:
miLista = ['azul', 'rojo', 'verde', 'amarillo']

miLista.remove('rojo')
print(miLista)

Remover todos los elementos.

In [ ]:
miLista = ['azul', 'rojo', 'verde', 'amarillo']

miLista.clear()
print(miLista)

Cantidad de elementos.

In [ ]:
miLista = ['azul', 'rojo', 'verde', 'amarillo']

print( len(miLista) )

# 2. TUPLAS

Son objetos de tipo secuencia inmutable. Estas no pueden modificarse de ningún modo después de su creación.

In [ ]:
colores = ('azul', 'rojo', 'verde', 'amarillo')
print("colores =", colores)

valores = (5, "cadena", 7.5)
print("valores =", valores)

No es necesario usar los paréntesis para declarar una tupla.

In [ ]:
valores = 5, "cadena", 7.5
print("valores =", valores)

Declarar un tupla con el constructor *tuple()*. Convertir una lista a tupla.

In [ ]:
colores = tuple( ['azul', 'rojo', 'verde', 'amarillo'] )
print("colores =", colores)

Tuple Unpacking

In [ ]:
colores = ('azul', 'rojo', 'verde', 'amarillo')

(color_1, color_2, color_3, color_4) = colores

print(color_1)
print(color_2)
print(color_3)
print(color_4)

Acceder a un elemento por index.

In [ ]:
colores = ('azul', 'rojo', 'verde', 'amarillo')

print(colores[1])
print(colores[-2])

#### Cortar un lista:

El operador de sector [n: m] devuelve la parte de la lista desde el elemento "n-ésimo" al elemento "m-ésimo", incluido el primero pero excluyendo el último.

In [ ]:
colores = ('azul', 'rojo', 'verde', 'amarillo')

print(colores[1:3])

Cambiar un elemento de la tupla.

In [ ]:
colores = ('azul', 'rojo', 'verde', 'amarillo')

colores[1] = 'blanco'

Eliminar un elemento de la tupla.

In [ ]:
colores = ('azul', 'rojo', 'verde', 'amarillo')

del colores[1]

Eliminar una tupla.

In [ ]:
colores = ('azul', 'rojo', 'verde', 'amarillo')

del colores

Cantidad de elementos de tupla.

In [ ]:
colores = ('azul', 'rojo', 'verde', 'amarillo')

print(len(colores))

# 3. Conjuntos

Un conjunto, es una colección no ordenada y sin elementos repetidos. Los usos básicos de éstos incluyen verificación de pertenencia y eliminación de entradas duplicadas.

In [ ]:
colores = {'azul', 'rojo', 'verde', 'amarillo'}
print("colores =", colores)

valores = {5, "cadena", 7.5}
print("valores =", valores)

Los conjuntos no permiten duplicados. Se eliminan automáticamente durante la creación de un conjunto.

In [ ]:
colores = {'azul', 'rojo', 'verde', 'amarillo', 'azul', 'rojo'}
print("colores =", colores)

Declarar un conjunto con el constructor *set()*.

In [ ]:
S = set('abc')
print(S)

S = set(range(0, 4))
print(S)

S = set([1, 2, 3])
print(S)

Agregar un elemento al conjunto.

In [ ]:
colores = {'azul', 'rojo', 'verde', 'amarillo'}
colores.add('blanco')

print("colores =", colores)

Agregar varios elementos al conjunto.

In [ ]:
colores = {'azul', 'rojo', 'verde', 'amarillo'}
colores.update(['blanco', 'naranja'])

print("colores =", colores)

Eliminar elementos de un conjunto.

In [ ]:
colores = {'azul', 'rojo', 'verde', 'amarillo'}
colores.remove('rojo')

print("colores =", colores)

Cantidad de elementos de tupla.

In [ ]:
colores = {'azul', 'rojo', 'verde', 'amarillo'}

print(len(colores))

# 4. DICCIONARIOS

El diccionario, define una relación uno a uno entre claves y valores. Pueden ser creados colocando una lista separada por coma de pares «key:value» entre {}

In [ ]:
diccionario = {'name': 'Bob',
                 'age': 25,
                 'job': 'Dev',
                 'city': 'New York',
                 'email': 'bob@web.com'}


print(diccionario)

Declarar un diccionario con el constructor *dict()*.

In [ ]:
miLista = [('name', 'Bob'),
         ('age', 25),
         ('job', 'Dev')]

diccionario = dict(miLista)

print(diccionario)

In [ ]:
miTupla = (['name', 'Bob'],
         ['age', 25],
         ['job', 'Dev'])

diccionario = dict(miTupla)

print(diccionario)

In [ ]:
diccionario = dict(name = 'Bob',
                     age = 25,
                     job = 'Dev')

print(diccionario)

Las llaves deben ser únicas.

In [ ]:
diccionario = {'name': 'Bob',
             'age': 25,
             'name': 'Jane'}

print(diccionario)

Las llaves deben ser inmutables.

In [ ]:
diccionario = {(2,2): 25,
             True: 'a',
             'name': 'Bob'}

print(diccionario)

In [ ]:
## Una lista no es inmutable

diccionario = {[2,2]: 25,
                 'name': 'Bob'}

print(diccionario)

Los valores pueden ser de cualquier tipo.

In [ ]:
diccionario = {'a':[1,2,3],
                 'b':{1,2,3}}

print(diccionario)

In [ ]:
diccionario = {'a':[1,2],
             'b':[1,2],
             'c':[1,2]}

print(diccionario)

Acceder al valor de una llave.

In [ ]:
diccionario = {'name': 'Bob',
             'age': 25,
             'job': 'Dev'}

print(diccionario['name'])

Modificar un valor.

In [ ]:
diccionario = {'name': 'Bob',
             'age': 25,
             'job': 'Dev'}

diccionario['name'] = 'Sam'

print(diccionario)

Agregar elementos.

In [ ]:
diccionario = {'name': 'Bob',
                 'age': 25,
                 'job': 'Dev'}

diccionario['city'] = 'New York'

print(diccionario)

Remover un elemento de un diccionario.

In [ ]:
diccionario = {'name': 'Bob',
                 'age': 25,
                 'job': 'Dev'}

x = diccionario.pop('age')

print(diccionario)
print(x)

In [ ]:
diccionario = {'name': 'Bob',
                 'age': 25,
                 'job': 'Dev'}

del diccionario['age']
print(diccionario)

Eliminar todos los elementos.

In [ ]:
diccionario = {'name': 'Bob',
             'age': 25,
             'job': 'Dev'}

diccionario.clear()
print(diccionario)

Obtener las llaves.

In [ ]:
diccionario = {'name': 'Bob',
                 'age': 25,
                 'job': 'Dev'}

print(list(diccionario.keys()))

Obtener todos los valores.

In [ ]:
print(list(diccionario.values()))

Obtener todos los pares.

In [ ]:
print(list(diccionario.items()))

# 4. EJERCICIOS

1. Crear una lista de elementos con los primeras 5 letras del abecedario.
2. Seleccionar el tercer y quinto elemento de la lista.
3. Modificar la letra 'c' por la letra 'z'.
4. Eliminar la cuarta letra de la lista.
5. Covertir la lista en una tupla.
6. Seleccionar los tres primeros elementos de la tupla.
7. Covertir la lista en un conjunto.
8. Añadir las tres última letras del abecedario al conjunto.
9. Crear un diccionario en el cual las llaves son las vocales y los valores los números del 1 al 5.
10. Borrar todos los elementos del diccionario.